

.texto1{font-family: 'Times New Roman', 'Georgia', serif;}

.texto2{font-family: 'Arial', 'verdana', sans-serif;}

.texto3{font-family: 'Coutier New', 'Lucida Console', monospace;}

.texto4{font-family: 'Comic Sans', 'Brush Script', cursive;}

.texto5{font-family: 'Impact', 'Papyrus', fantasy;}